---
import type { GetStaticPathsResult, PaginateFunction, Page } from "astro";
import { getLocale } from "astro-i18n-aut";
import HeroImage from "@components/blog/HeroImage.astro";
import translations, { localizePath } from "@utils/t.ts";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Title from "@src/components/blog/BlogHeader.astro";
import Pagination from "@components/blog/Pagination.astro";
import { DEFAULT_LOCALE } from "@src/consts";

const url = Astro.url;
const locale = getLocale(url);

const posts = await getCollection("blog", (entry) => entry.slug.startsWith(locale + "/"));

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }): Promise<GetStaticPathsResult> {
	const posts = (await getCollection("blog")).sort((a, b) => {
		return a.data.pubDate.valueOf() - b.data.pubDate.valueOf();
	});

	// Generate pages from our wells arrays, with merged names
	return paginate(
		posts.map((post: any, index: number) => {
			return {
				...post,
				slug: post.slug.join("/"),
			};
		}),
		{ pageSize: 6 },
	);
}

interface Props {
	page: Page;
}
const { page } = Astro.props;

// translations
const t = translations(Astro.url);
---

<Layout title="Blog">
	<section>
		<Container class="pt-16">
			<ul class="grid grid-cols-2 gap-6 list-none p-0 m-0">
				<!-- {
					posts.map((post: any, index: number) => (
						<li class={`${index === 0 ? "w-full text-center mb-4 col-span-2" : ""}`}>
							<a href={localizePath(`/blog/${post.slug}/`, url)} class="block transition-colors duration-200">
								<HeroImage
									class={`${index === 0 ? "w-full" : ""} mb-2 rounded-lg hover:shadow-md`}
									src={post.data.heroImage}
									alt={post.data.title}
									width={720}
									height={360}
								/>
								<Title
									pubDate={post.data.pubDate}
									name={`title-${post.data.title}`}
									isSubheading={true}
									class={`${index === 0 ? "text-6xl" : ""} text-black m-0`}>
									{post.data.title}
								</Title>
							</a>
						</li>
					))
				} -->
			</ul>
		</Container>
	</section>
</Layout>
