---
import Layout from "@layouts/Layout.astro";
import BlogHeader from "@components/blog/BlogHeader.astro";
import { DEFAULT_LOCALE } from "@src/consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getLocale, getLocaleUrlPrefix } from "astro-i18n-aut";
import Container from "@src/components/Container.astro";
import HeroImage from "@src/components/blog/HeroImage.astro";

const locale = getLocale(Astro.url) ?? DEFAULT_LOCALE;
const localeUrlPrefix = getLocaleUrlPrefix(Astro.url);

const posts = (await getCollection("blog", (entry) => entry.slug.startsWith(`${locale}/`)))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.map<CollectionEntry<"blog"> & { href: string }>((post) => {
		return {
			href: localeUrlPrefix + "/blog" + post.slug.replace(locale, "") + "/",
			...post,
		};
	});
---

<Layout title="Blog">
	<Container class="pt-16">
		<ul class="m-0 grid list-none grid-cols-2 gap-6 p-0">
			{
				posts.map((post: any, index: number) => (
					<li class={`${index === 0 ? "col-span-2 mb-4 w-full text-center" : ""}`}>
						<a href={post.href} class="block transition-colors duration-200">
							<HeroImage
								class={`${index === 0 ? "w-full" : ""} mb-2 rounded-lg hover:shadow-md`}
								src={post.data.heroImage}
								alt={post.data.title}
								width={720}
								height={360}
							/>
							<BlogHeader
								pubDate={post.data.pubDate}
								name={`title-${post.data.title}`}
								isSubheading={true}
								class={`${index === 0 ? "text-xl md:text-2xl lg:text-3xl" : ""} m-0`}>
								{post.data.title}
							</BlogHeader>
						</a>
					</li>
				))
			}
		</ul>
	</Container>
</Layout>
